
body{
    background-color: #FFFBEA;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h5,h6,p,h4{
    margin: 0;
    padding: 0;
}
nav h5{
   color: black;
   font-weight: 700;
   font-size:24px ;
}
nav h6 , .h6{
color: oklch(0.551 0.027 264.364);
   font-weight: 400;
   font-size:14px ;
}
.left-icons{
color: rgb(106, 106, 106);
}
.i-1,.i-2,.i-3{
    transition: all 0.3s;
}
.i-1:hover{
color: orangered;
}
.i-2:hover{
color: orangered;
}
.i-3:hover{
color: orangered;
}
.h5{
     font-weight: 600;
   font-size:16px ;
}
.desc1{
      font-weight: 600;
   font-size:12px ;
   color: oklch(0.527 0.154 150.069);
}
.desc2{
      font-weight: 600;
   font-size:12px ;
   color: oklch(0.488 0.243 264.376);
}
.header-title{
    h4{
  font-weight: 700;
   font-size:36px ;
    }
    p{
  font-weight: 400;
   font-size:18px ;
   color: oklch(0.446 0.03 256.802);
    }
}
button{
    background-image: linear-gradient(90deg ,rgb(247, 112, 16),orangered, red);
    font-weight: 600;
   font-size:16px ;
   color: white;
   padding-block: 13px;
}
.header-icons{
   .icon1{
      background-color: #FFEDD4;
       transition: all 0.3s;
   }
   .icon1:hover{
      background-color: #FFD6A7;
   }
   .icon2{
      background-color: #FFEDD4;
       transition: all 0.3s;
   }
   .icon2:hover{
      background-color: #FFD6A7;
   }
}
.bttn{
    transition: all 0.5s;
}
.bttn:hover{
  transform: scale(1.1);
  filter: brightness(0.9);
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 16px;
    font-weight:600;
    color:oklch(0.446 0.03 256.802);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.nav-link:hover{
    color:oklch(0.373 0.034 259.733);
}
.nav-link i{
   color:oklch(0.446 0.03 256.802);
}
.nav-link i:hover{
   color:oklch(0.373 0.034 259.733);
}
.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 700;
    color: orangered;
    border-bottom-color: currentcolor;
}

.nav-underline .nav-link:active i{
    padding-right: 0;
    padding-left: 0;
    color: orangered;
    border-bottom: orangered solid transparent;
}
.row>* {
    
    
    padding-right: 0;
    padding-left: 0;
   
}