
body{
    background-color: #FFFBEA;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
h5,h6{
    margin: 0;
    padding: 0;
}
nav h5{
   color: black;
   font-weight: 700;
   font-size:24px ;
}
nav h6{
color: oklch(0.551 0.027 264.364);
   font-weight: 400;
   font-size:14px ;
}
.left-icons{
color: rgb(106, 106, 106);
}
.i-1,.i-2,.i-3{
    transition: all 0.3s;
}
.i-1:hover{
color: orangered;
}
.i-2:hover{
color: orangered;
}
.i-3:hover{
color: orangered;
}